.contribute {
    background: linear-gradient(
        180deg,
        colors.$lavender-blue 0%,
        colors.$gold-crayola 100%
    );

    .title {
        color: colors.$mango-tango;
    }

    .container {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        .text-container {
            p {
                font-size: clamp(1rem, -0.875rem + 8.333vw, 1.3rem);
                line-height: clamp(1.4rem, -0.875rem + 8.333vw, 1.7rem);
                margin: 2rem 0;
                color: colors.$purple-navy;
            }

            .box-container {
                margin: 10% 0;

                display: flex;

                align-items: center;
                justify-content: center;

                .box {
                    background-color: colors.$purple-navy;
                    padding: 1rem 2rem;

                    box-shadow: 1rem 1rem colors.$mango-tango;

                    text-align: center;

                    h2 {
                        font-size: clamp(1.4rem, -0.875rem + 8.333vw, 1.7rem);
                        color: colors.$mango-tango;
                    }
                }
            }
        }

        .donors-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            div {
                text-align: center;

                img {
                    width: clamp(6rem, -0.875rem + 8.333vw, 6.3rem);
                }
                h2 {
                    font-size: clamp(1rem, -0.875rem + 8.333vw, 1.3rem);
                    text-transform: none;
                    color: colors.$purple-navy;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .contribute {
        .container {
            flex-wrap: nowrap;
            gap: 4rem;

            .text-container {
                width: 50%;
                .box-container {
                    justify-content: flex-start;
                }
            }

            .donors-container {
                width: 50%;
            }
        }
    }
}
