footer {
    background-color: colors.$lavender-blue;
    div {
        margin: 0 auto;
        padding: 1rem;
        text-align: center;
        p {
            font-weight: bold;
            color: colors.$purple-navy;
            a {
                color: colors.$mango-tango;
            }
        }
    }
}
