header {
    min-height: 100vh;
    background-image: linear-gradient(
            to bottom,
            rgba(78, 89, 140, 0.35) 0%,
            colors.$purple-navy 100%
        ),
        url("../../dist/assets/images/backgrounds/0.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .container {
        min-height: 100vh;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        gap: max(5vh, 20px);

        .icon {
            width: max(25%, 175px);
        }

        .title {
            width: max(50%, 300px);
        }

        .subtitle {
            color: colors.$lavender-blue;
            font-size: clamp(1rem, 2.5vw, 1.7rem);
            letter-spacing: 0.69em;
            padding: 0 1rem;
            text-align: center;
        }

        .icons {
            display: flex;
            justify-content: space-around;
            min-width: 100%;
            padding: 0 max(10vw, 50px);
            .icon {
                width: min(10vw, 40px);
                transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                // dont ask me about that, apparently this is the best way to color an svg lol
                filter: invert(74%) sepia(72%) saturate(371%) hue-rotate(197deg) brightness(108%) contrast(103%);

                &:hover {
                    transform: scale(1.25, 1.25);
                    // same here
                    filter: invert(83%) sepia(93%) saturate(2270%) hue-rotate(312deg) brightness(98%) contrast(102%);
                }
            }
        }
    }
}
