.nav-container {
    background-color: colors.$purple-navy;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 69;
    width: 100%;

    .nav-icon {
        margin: auto 0;
        height: 2rem;
    }

    .nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        height: 100%;
        display: flex;
        align-items: center;

        span,
        span::before,
        span::after {
            display: block;
            background: colors.$lavender-blue;
            height: 3px;
            width: 2em;
            border-radius: 1px;
            position: relative;
        }

        span::before,
        span::after {
            content: "";
            position: absolute;
        }

        span::before {
            bottom: 7px;
            width: 1.5em;
        }

        span::after {
            top: 7px;
            width: 1em;
        }
    }

    nav {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background: colors.$purple-navy;
        width: 100%;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }

    ul {
        list-style: none;

        li {
            margin-left: 1em;
            margin-bottom: 1em;

            a {
                color: colors.$lavender-blue;
                letter-spacing: 0.3em;
                text-decoration: none;
                font-size: 1.2rem;
                font-family: Minercraftory;
                text-transform: uppercase;
                opacity: 0;
                transition: opacity 150ms ease-in-out;

                &:hover {
                    color: colors.$yellow-orange;
                }
            }
        }
    }
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);

    a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }
}

@media screen and (min-width: 768px) {
    .nav-container {
        height: 5rem;

        .nav-toggle-label {
            display: none;
        }

        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;

        .nav-icon {
            grid-column: 2 / 3;
        }

        nav {
            // Unset everything
            all: unset;

            grid-column: 3 / 4;
            margin: auto;
            width: 100%;

            ul {
                display: flex;
                justify-content: space-evenly;

                li {
                    margin-left: 0;
                    margin-bottom: 0;

                    a {
                        opacity: 1;
                        position: relative;

                        &:hover::after {
                            transform: scale(1, 1);
                        }

                        &::after {
                            content: "";
                            display: block;
                            height: 5px;
                            background: colors.$yellow-orange;
                            bottom: 0;
                            transform: scale(0, 1);
                            transform-origin: left;
                            transition: transform ease-in-out 250ms;
                        }
                    }
                }
            }
        }
    }
}
