.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.upper_waves {
    background-image: url("../assets/images/spacers/nice_waves_upper.svg");
}

.lower_waves {
    background-image: url("../assets/images/spacers/nice_waves_lower.svg");
}
