.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.upper-waves {
    background-image: url("../assets/images/spacers/nice_waves_upper.svg");
}

.lower-waves {
    background-image: url("../assets/images/spacers/nice_waves_lower.svg");
}

.layered-steps {
    background-image: url("../assets/images/spacers/nice_layered_steps.svg");
}
