.staff {
    background-color: colors.$purple-navy;
    .title {
        color: colors.$mango-tango;
        text-align: right;
        &::after {
            right: 0;
            background: colors.$mango-tango;
        }
    }

    .container {
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;

        div {
            flex: 1 0;
            white-space: nowrap;

            margin: 0 0.5rem;
            text-align: center;

            img {
                width: clamp(8rem, -0.875rem + 8.333vw, 8.3rem);
            }

            h2 {
                font-family: Poppins;
                font-weight: bold;
                font-size: clamp(1rem, -0.875rem + 8.333vw, 1.3rem);
                text-transform: none;
                color: colors.$lavender-blue;
            }

            p {
                width: fit-content;
                padding: 0.25rem 1.5rem;
                display: inline-block;
                font-family: Minercraftory;
                text-transform: uppercase;
                color: colors.$purple-navy;
            }

            .admin {
                background-color: colors.$mango-tango;
            }

            .mod {
                background-color: colors.$mod-color;
            }

            .helper {
                background-color: colors.$helper-color;
            }

            .builder {
                background-color: colors.$builder-color;
            }

            .dev {
                background-color: colors.$dev-color;
            }
        }
    }
}
