// Main colors
$purple-navy: #4e598c;
$lavender-blue: #e4d9ff;
$gold-crayola: #f9c784;
$yellow-orange: #fcaf58;
$mango-tango: #ff8c42; // Also admin tag color

// Staff colors
$mod-color: #ca54ff;
$helper-color: #2ecc71;
$builder-color: #f1c40f;
$dev-color: #1abc9c;
