@font-face {
    font-family: Alagard;
    src: url("../../../dist/assets/fonts/Alagard.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Minercraftory;
    src: url("../../../dist/assets/fonts/Minercraftory.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("../../../dist/assets/fonts/Poppins.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
