@use "abstracts/colors";
@use "abstracts/fonts";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    h1 {
        font-family: Alagard;
        font-weight: normal;
    }

    h2 {
        font-family: Poppins;
        text-transform: uppercase;
        font-weight: 800;
    }

    p {
        font-family: Poppins;
        font-weight: normal;
        font-size: clamp(1rem, -0.875rem + 8.333vw, 1.3rem);
    }

    section {
        padding: 5% 15%;
    }
}

.title {
    font-size: 3rem;
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        margin-top: 3px;
        height: 7px;
        width: 4ch;
        background: colors.$purple-navy;
    }
}

@keyframes boing {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(5%);
    }
}

.head:hover {
    animation: boing 0.1s ease-in-out infinite alternate;
}

@import "components/header";
