@use "abstracts/colors";
@use "abstracts/fonts";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    h1 {
        font-family: Alagard;
        font-weight: normal;
    }

    h2 {
        font-family: Minercraftory;
        text-transform: uppercase;
        font-weight: normal;
    }

    p {
        font-family: Poppins;
        font-weight: normal;
    }
}

@import "components/header";
@import "components/nav";
@import "components/infos";
