@use "abstracts/colors";
@use "abstracts/fonts";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    h1 {
        font-family: Alagard;
        font-weight: normal;
    }

    h2 {
        font-family: Minercraftory;
        text-transform: uppercase;
        font-weight: normal;
    }

    p {
        font-family: Poppins;
        font-weight: normal;
    }

    section {
        padding: 5% 10%;
    }
}

.title {
    font-size: 3rem;
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        margin-top: 3px;
        height: 7px;
        width: 4ch;
        background: colors.$purple-navy;
    }
}

@import "components/header";
@import "components/nav";
@import "components/infos";
@import "components/spacers";
@import "components/stats";
